go 1.22.2

use (
	.
	./webhook/using-kubebuilder
)

replace (
	k8s.io/api => /home/colin/workspace/golang/src/k8s.io/api
	k8s.io/apiserver => /home/colin/workspace/golang/src/k8s.io/apiserver
	k8s.io/kubernetes => /home/colin/workspace/golang/src/k8s.io/kubernetes
)
